### Java ###
*.class
*.jar
*.war
*.ear

### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ ###
.idea/
*.iml
out/

### Backend specific ###
backend/.gradle/
backend/build/
backend/out/
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
.idea/
.vscode/
windows/
linux/
macos/