### Java ###
*.class
*.jar
*.war
*.ear

### Gradle ###
.gradle/
build/
!backend/gradle/wrapper/gradle-wrapper.jar

### IntelliJ ###
.idea/
*.iml
out/

### Backend specific ###
backend/.gradle/
backend/build/
backend/out/
backend/.env